# URL da API do backend do SGA
# No ambiente local, geralmente é http://localhost:5000/api
# Em produção, o frontend fará requisições para a URL correspondente (ex: http://100.67.80.80:5000/api)
REACT_APP_API_URL=http://localhost:5000/api
